body{
    border: 1px solid rgb(0, 0, 10);
    width: 800px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto; 
}
div{
    margin: 1px 1px 50px 1px;
}
.baioti{
    font-family:MicrosoftYaHei；
}
.picture{
width: 20px;
height: 20px;
}
img{
    width: 100%;
    height: auto;
}
div p{
    font-size: 30pt;
    color: rgb(23, 7, 95);
    text-align:center;
    font-style: italic;
}
